/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*
DEBUG
*/
.debug .header-first-container {
    background-color: skyblue;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .header-second-container {
    background-color: blue;
    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {
    background-color: orange;
    height: 20px;
    display: flex inline;
}

.pink-container {
    background-color: lightcoral;
    height: 500px;
    width: 700px;
}